In [1]:
import pandas as pd
import numpy as np
import

## import data

In [6]:
data = pd.read_csv("data/train.csv")

In [21]:
df = data.drop(columns = ['Name','RescuerID','PetID','Description'])

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14993 entries, 0 to 14992
Data columns (total 20 columns):
Type             14993 non-null int64
Age              14993 non-null int64
Breed1           14993 non-null int64
Breed2           14993 non-null int64
Gender           14993 non-null int64
Color1           14993 non-null int64
Color2           14993 non-null int64
Color3           14993 non-null int64
MaturitySize     14993 non-null int64
FurLength        14993 non-null int64
Vaccinated       14993 non-null int64
Dewormed         14993 non-null int64
Sterilized       14993 non-null int64
Health           14993 non-null int64
Quantity         14993 non-null int64
Fee              14993 non-null int64
State            14993 non-null int64
VideoAmt         14993 non-null int64
PhotoAmt         14993 non-null float64
AdoptionSpeed    14993 non-null int64
dtypes: float64(1), int64(19)
memory usage: 2.3 MB

In [23]:
df.head()

,Type,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,FurLength,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,State,VideoAmt,PhotoAmt,AdoptionSpeed
0,2,3,299,0,1,1,7,0,1,1,2,2,2,1,1,100,41326,0,1.0,2
1,2,1,265,0,1,1,2,0,2,2,3,3,3,1,1,0,41401,0,2.0,0
2,1,1,307,0,1,2,7,0,2,2,1,1,2,1,1,0,41326,0,7.0,3
3,1,4,307,0,2,1,2,0,2,1,1,1,2,1,1,150,41401,0,8.0,2
4,1,1,307,0,1,1,0,0,2,1,2,2,2,1,1,0,41326,0,3.0,2

## missing

In [26]:
np.sum(df['MaturitySize']==0)

0

In [27]:
np.sum(df['FurLength']==0)

0

In [29]:
np.sum(df['Vaccinated']==3)

1868

In [30]:
np.sum(df['Dewormed']==3)

1781

In [31]:
np.sum(df['Sterilized']==3)

1815

In [32]:
np.sum(df['Health']==0)

0

In [36]:
np.sum((df['Vaccinated']==3) * (df['Dewormed']==3) * (df['Sterilized']==3))

/anaconda3/lib/python3.6/site-packages/pandas/core/computation/expressions.py:180: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

1003

## cross validation score

## check test if missing

In [24]:
test = pd.read_csv("data/test/test.csv")

In [ ]:
test.info()